.movie-card{
  margin-top: 3rem;
}

.genre {
  color: #D4AF37;
}

.action{
  color:#fff;
}

.pageline {
  width: 55%; /* Adjust the width of the line */
  height: 2px; /* Adjust the thickness of the line */
  background-color: #D4AF37; /* Change the color of the line */
  margin-top: 10px; /* Adjust the space between text and line */
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust minmax value for card width */
  gap: 50px; /* Adjust gap between cards */
  width: 100%;
}

.card{
    display: grid;

    flex-wrap: wrap;
    background-color: #000000;
    color: #ffffff;
}

.card-img-top{
  border-radius: 5px;
}

.btn {
  color: #000;
  background-color: #D4AF37;
  border-color: #D4AF37;
}

.btn:hover{
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
  bottom: 90px; /* Adjust this value based on your footer's height */
  left: 0;
  width: 100%;
  padding: 10px;
}

.page-link{
  border-radius: 5px;
  color: #D4AF37;
  background-color: #000;
  border-color: #D4AF37;
}
.submit-btns:hover{
  fill: #D4AF37;
}

.page-link:hover{
  color: #fff;
  background-color: #000;
  border-color: #fff;
}